@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

/* font-weight: 300 */
@font-face {
  font-family: 'MullerLight';
  src: url(/fonts/Muller/MullerLight.otf);
}
@font-face {
  font-family: 'MullerRegular';
  src: url(/fonts/Muller/MullerRegular.otf);
}
/* font-weight: 500 */
@font-face {
  font-family: 'MullerMedium';
  src: url(/fonts/Muller/MullerMedium.otf);
}

@font-face {
  font-family: 'MullerBold';
  src: url(/fonts/Muller/MullerBold.otf);
}
@font-face{
  font-family: 'MullerExtraBold';
  src: url(/fonts/Muller/MullerExtraBold.otf);
}
@font-face {
  font-family: 'Monument';
  src: url(/fonts/Monument/MonumentRegular.otf);
}